BasedOnStyle: GNU
IndentWidth: 2
ColumnLimit: 120
AlwaysBreakAfterReturnType: All
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: true
SpaceBeforeParens: Always
AllowAllParametersOfDeclarationOnNextLine: false
PackConstructorInitializers: NextLine
PointerAlignment: Right
SortIncludes: true
ExperimentalAutoDetectBinPacking: 'true'