.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
failures.txt
.vscode/
3rdparty.txt
target/
/target
.gdb_history
build
Package.resolved
/target