.container {
    margin: 50px auto;
    width: 80%;
    text-align: center;
}

#fileContent {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.chart-container {
    display: inline-block;
    width: 33%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}